[submodule "rust-skia"]
	path = rust-skia
	url = https://github.com/pragmatrix/rust-skia.git
[submodule "vulkano"]
	path = vulkano
	url = https://github.com/pragmatrix/vulkano.git
[submodule "watchexec"]
	path = watchexec
	url = https://github.com/pragmatrix/watchexec.git
[submodule "tears"]
	path = tears
	url = https://github.com/pragmatrix/tears.git
[submodule "serde_tuple"]
	path = serde_tuple
	branch = emergent
	url = https://github.com/pragmatrix/serde_tuple.git
