[package]
name = "emergent"
version = "0.1.0"
authors = ["Armin Sander <armin@replicator.org>"]
edition = "2018"

[lib]
name = "emergent"
path = "src/lib/lib.rs"

[workspace]
exclude = ["rust-skia", "vulkano"]
members = [
  "emergent-drawing",
  "emergent-layout" 
]

[dependencies]

# project local dependencies
tears = { path = "tears" }
emergent-drawing = { path = "emergent-drawing" }

# channels
crossbeam-channel = "0.3.8"

# skia

skia-safe = { path = "rust-skia/skia-safe", features = ["vulkan"] }
skia-bindings = {path = "rust-skia/skia-bindings", features = ["vulkan"] }

# window & rendering

winit = "0.19"
# we need a custom vulkano build that sets the request Vulkan instance version
# to the same version as the physical device's version,
# because of the version consistency Skia expects.
vk-sys = { path = "vulkano/vk-sys" }
vulkano = { path = "vulkano/vulkano" }
vulkano-win = { path = "vulkano/vulkano-win" }
vulkano-shaders = { path = "vulkano/vulkano-shaders" }

#winit = "0.18"
#vulkano = "0.11.1"
#vulkano-win = "0.11.1"
#vulkano-shaders = "0.11.1"

# serialization

serde = { version = "1.0.90", features = ["derive"] }
serde_json = "1.0.39"

# test runner

cargo = "0.35.0"
failure = "0.1.5"
shh = "1.0.0"

# test watcher

cargo-watch = "7.2.1"
clap = "2.33.0"
watchexec = "1.10.1"

[replace]
# needed to parameterize the TestWatcher.
"watchexec:1.10.1" = { path = "watchexec" }

